<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ken.mybatistest1.mapper.BlogMapper">
    <select id="getAll" resultType="Blog">
        SELECT * FROM blog
    </select>
    
    <select id="getBlog" resultType="Blog">
        select * FROM blog WHERE id = "${id}"
    </select>
    
    <insert id="addBlog" parameterType="Blog">
        INSERT INTO blog
        (title, content, time_add, time_show)
        VALUES(#{title}, #{content}, ${time_add}, ${time_show})
    </insert>
    
    <delete id="deleteBlog" parameterType="Blog">
        DELETE FROM blog
        WHERE id = ${id}
    </delete>
    
    <update id="updateBlog" parameterType="Blog">
        UPDATE blog
        SET
        title = #{title},
        content = #{content},
        time_show = ${time_show}
        WHERE id = ${id}
    </update>
</mapper>